@media (max-width:1439px) {

   html,
   body {
      font-size: 20px;
   }

   ._container {
      width: 88vw;
   }

   .main__container {
      padding: 1rem 0.75rem;
   }

   .block__shape {
      width: calc(87vw / 3 - 0.521vw);
      padding: 0.5rem;
   }

   .block__shape-title {
      margin: 0.25rem 0 1.2rem 0;
      font-size: 1.4rem;
      text-shadow: 0 0.5rem 0.3rem #000000, 0 -0.25rem 0.05rem rgb(0, 0, 0);
   }

   .block__shape-flex {
      row-gap: 0.75rem;
   }

   .block__information {
      font-size: 0.9rem;
      max-height: 20rem;
   }

   .information__photo {
      width: 5.5rem;
      height: 10rem;
      border-radius: 0.75rem;
   }

   .information__fullName {
      font-size: 0.9rem;
   }

   .information__links {
      column-gap: 0.75rem;
   }

   .information__links a {
      font-size: 1.4rem;
   }

   .education__style {
      font-size: 0.75rem;
   }

   .education__university {
      font-size: 1.1rem;
   }

   .edication__speciality {
      font-size: 0.8rem;
   }

   .education__courses {
      row-gap: 0.25rem;
   }

   .aboutMe__text {
      font-size: 0.8rem;
   }

   .aboutMe__text span {
      margin: 0.5rem;
   }

   .swiper {
      margin-top: 0.75rem;
      min-width: 27.5rem;
      min-height: 17.5rem;
      border-radius: 0.5rem;
   }

   .swiper__title {
      margin: 1rem 0;
   }

   .swiper-slide {
      height: 11.5rem;
   }

   .swiper-slide-link i:hover {
      font-size: 1.5rem;
   }

   .swiper-slide-link {
      font-size: 1.5rem;
      bottom: 0.4rem;
      left: 1.75rem;
   }

   .swiper__img {
      min-width: 25rem;
      min-height: 11.5rem;
      border-radius: 0.5rem;
      margin-left: 1.25rem;
   }

   .swiper-pagination-bullet {
      width: 0.4rem;
      height: 0.4rem;
   }
}